##
## NAMESPACE
##
importFrom(Biostrings,readDNAStringSet,readAAStringSet,AAString)
importFrom(IRanges,IRanges,DataFrame,Rle,values,"values<-",split,ranges,start,end,substr,subseq)
importMethodsFrom(PEP.db, coord2ext)
importFrom(PEP.db, readAlign)
#Export HIV.db stuff
exportClasses(HivFeature,Epitope)
exportMethods(show,getChildren,getParent,getEpitope,getFeature,getAA,getDNA,getName,getHXB2Coordinates,getFrame)
export(loadFeatures,lsCategory)
#Export imported stuff
exportMethods("coord2ext")
export("readAlign")


