##
## NAMESPACE
##
importFrom(Biostrings,readDNAStringSet,readAAStringSet,AAString, subseq)
importFrom(IRanges,IRanges,RangedData,values,"values<-",split,ranges,start,end)
importFrom(S4Vectors,DataFrame,Rle)
#importMethodsFrom(Pviz, coord2ext)
#importFrom(Pviz, readAlign)

#importClassesFrom(IRanges, RangedData, List, DataTable, DataTableORNULL, Vector, Annotated)
#Export HIV.db stuff
exportClasses(HivFeature,Epitope)
exportMethods(show,getChildren,getParent,getEpitope,getFeature,getAA,getDNA,getName,getHXB2Coordinates,getFrame)
export(loadFeatures,lsCategory)
exportMethods("coord2ext")
